
<table class="table">
    <thead>
      <tr>
        <th scope="col">#ID</th>
        <th scope="col">name</th>
        <th scope="col">rating</th>
        <th scope="col"></th>
        
        
      </tr>
    </thead>
    <tbody>
      <tr> 
          <td id="id">{{operator._id}}</td> 
          <td id="name">{{operator.name}}</td>
          <td id="rating">{{operator.rating}}</td>
          <td><button type="button" class="btn btn-outline-primary" (click) = "deleteOperator()" routerLink = "/tours">Delete</button></td>
         
      </tr>
    </tbody>
  </table>

Update Operator
<form>
  <div class="form-row">
    <div class="col-7">
      <input type="text" class="form-control" placeholder="Name" id="name" name = "name" required [(ngModel)] = "updatedOperator.name">
    </div>
    <br>
    <div class="col">
      <input type="text" class="form-control" placeholder="Rating" id="rating" name = "rating" required [(ngModel)] = "updatedOperator.rating">
    </div>
  </div>
  <br>
  <button class="btn btn-primary btn-sm" (click) = "update()" type="submit">Update Operator</button>
</form>


{{updatedOperator.name}}
{{updatedOperator.rating}}

